/* ===================================================
   ===== Live Projects Section =====
=================================================== */
#live-projects {
    text-align: center;
}

.live-projects .btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 30px;
    background: #ff9800;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
}

.live-projects .btn:hover {
    background: #e68900;
    transform: translateY(-3px);
}

.live-projects-card {
    background: rgba(179, 105, 105, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 60px;
    margin: 20px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

body.dark .live-projects-card {
    background-color: #467db4;
    color: #000;
}