/* ===== WhatsApp Button ===== */
.whatsapp-float {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 0 0 8px rgba(37, 211, 102, 0.5);
    transition: transform 0.3s ease, background 0.3s, box-shadow 0.3s;
    animation: pulseWhatsApp 2.5s infinite ease-in-out;
}

.whatsapp-float:hover {
    transform: scale(1.15);
    background-color: #1ebe57;
    box-shadow: 0 0 20px rgba(37, 211, 102, 1);
    animation: none;
}

@keyframes pulseWhatsApp {
    0% {
        transform: scale(1);
        box-shadow: 0 0 8px rgba(37, 211, 102, 0.5);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 16px rgba(37, 211, 102, 0.8);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 8px rgba(37, 211, 102, 0.5);
    }
}